CleanedVersion/src/miRobotEditor.EditorControl/Languages/CompletionItemsSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="CompletionItems">
  <xs:element name="CompletionItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompletionItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompletionItem" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Text" use="optional"/>
                      <xs:attribute type="xs:string" name="Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Description" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Language"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>